Flask==1.1.1 
gunicorn==19.9.0
itsdangerous==1.1.0 
Jinja2==2.10.1 
MarkupSafe==1.1.1 
Werkzeug==0.15.5 
numpy>=1.9.2 
scipy>=0.15.1 
scikit-learn>=0.18 
matplotlib>=1.4.3 
pandas>=0.19
sktime==0.12.0
Prophet>=0.11.4
ForecastingHorizon>=0.11.4
mean_absolute_percentage_error>=0.11.4
temporal_train_test_split>=0.11.4
MinMaxScaler>=0.11.4
PowerTransformer>=0.11.4
TabularToSeriesAdaptor>=0.11.4
Imputer>=0.11.4
AutoARIMA>=0.11.4
ForecastingPipeline>=0.11.4
